.dark-mode {
  .contact_wrapper {
    .email-button {
      background-color: #000 !important;
      color: #fff !important;
      
      &:hover {
        background-color: #5000ca !important;
        color: #fff !important;
      }
    }
  }
}

.light-mode {
  .contact_wrapper {
    .email-button {
      background-color: #ffffff !important;
      color: #1e1d1d !important;
      
      &:hover {
        background-color: #000 !important;
        color: #fff !important;
      }
    }
  }
}

.contact_wrapper {
  text-align: center;
  padding: 2rem;

  .email-button {
    margin-top: 2rem;
  }
}