.tooltip {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    background-color: white;
    color: rgb(39, 40, 34);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 10000; /* Ensure the tooltip is above other elements */
    border: 1px solid #ddd;
    margin-left: 10px; /* Space for the arrow */
  }
  
  .tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px; /* Position the arrow on the left side */
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent; /* Arrow color */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Shadow for the arrow */
  }
  
  @media (max-width: 768px) {
    .tooltip {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      margin-top: 10px; /* Space for the arrow */
    }
  
    .tooltip::after {
      top: -5px; /* Position the arrow on the top side */
      left: 50%;
      transform: translateX(-50%);
      border-color: white transparent transparent transparent; /* Arrow color */
    }
  }
  
  .vertical-timeline-element--work {
    position: relative; /* Ensure the element creates a stacking context */
    z-index: 1; /* Ensure the element is above other elements */
  }
  
  .vertical-timeline-element--work:hover {
    z-index: 2; /* Ensure the element is above other elements when hovered */
    margin-bottom: 70px; /* Adjust this value as needed to ensure space for the tooltip */
  }
  
  .vertical-timeline-element--work:hover .tooltip {
    opacity: 1;
    visibility: visible;
    z-index: 10000; /* Ensure the tooltip is above other elements */
  }